.idea/
.vscode/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/

venv/
.env/
.env.bak/
.venv/

*.log

build/
dist/
*.spec

Thumbs.db
desktop.ini
$RECYCLE.BIN/

*.tmp
*.bak
*.swp
*.old

.DS_Store
